<h1>Listing heads</h1>

<table>
  <tr>
    <th>Clause</th>
  </tr>

<% for head in @heads %>
  <tr>
    <td><%=h head.clause_id %></td>
    <td><%= link_to 'Show', head %></td>
    <td><%= link_to 'Edit', edit_head_path(head) %></td>
    <td><%= link_to 'Destroy', head, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New head', new_head_path %>
