<h1>Editing clause</h1>

<%= error_messages_for :clause %>

<% form_for(@clause) do |f| %>
  <p>
    <b>Function</b><br />
    <%= f.text_field :function_id %>
  </p>

  <p>
    <b>Order</b><br />
    <%= f.text_field :position %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @clause %> |
<%= link_to 'Back', clauses_path %>
