<h1>Editing atom_literal</h1>

<%= error_messages_for :atom_literal %>

<% form_for(@atom_literal) do |f| %>
  <p>
    <b>Atomic literal</b><br />
    <%= f.text_field :atomic_literal_id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @atom_literal %> |
<%= link_to 'Back', atom_literals_path %>
