<h1>Listing atom_literals</h1>

<table>
  <tr>
    <th>Atomic literal</th>
  </tr>

<% for atom_literal in @atom_literals %>
  <tr>
    <td><%=h atom_literal.atomic_literal_id %></td>
    <td><%= link_to 'Show', atom_literal %></td>
    <td><%= link_to 'Edit', edit_atom_literal_path(atom_literal) %></td>
    <td><%= link_to 'Destroy', atom_literal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New atom_literal', new_atom_literal_path %>
