<h1>Listing application_exprs</h1>

<table>
  <tr>
    <th>Expression</th>
  </tr>

<% for application_expr in @application_exprs %>
  <tr>
    <td><%=h application_expr.expression_id %></td>
    <td><%= link_to 'Show', application_expr %></td>
    <td><%= link_to 'Edit', edit_application_expr_path(application_expr) %></td>
    <td><%= link_to 'Destroy', application_expr, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New application_expr', new_application_expr_path %>
