<h1>Editing string_literal</h1>

<%= error_messages_for :string_literal %>

<% form_for(@string_literal) do |f| %>
  <p>
    <b>Atomic literal</b><br />
    <%= f.text_field :atomic_literal_id %>
  </p>

  <p>
    <b>Characters</b><br />
    <%= f.text_area :characters %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @string_literal %> |
<%= link_to 'Back', string_literals_path %>
